@charset "utf-8";
/* CSS Document */
body{
	
	 margin:0; 
	 
	 padding:0; 
	 
	 width:100%;
	 
	 }
	 
li{
	 
	 list-style-type:none;
	 
	 }
	 

img{
	
	border:0px;
	
	vertical-align:middle;
	
	}
	

a{
	
	text-decoration:none;
	
	}
	

.clear{
	
	clear:both;
	
	}

.content{
	
	border:solid #077260 1px;
	
	height:100%; 

    width:100%;
	
	position:fixed;
	
	top:0px;
	
	}
.content ul li a{
	
	color:#242424;
	 
	 }
	 
.content a:hover{ 

    font-weight:bold; color:#077260;
	
	}

.top{
	
	font-size: 16px;
	
	text-align: center;
	
	line-height: 20px;
	
	border-bottom: solid #077260 1px;
	
	}
	
.top .topword{
	
	text-align: left;
	
	}
	
.top .topword1{
	
	text-align: right;
	
	margin-right: 5%;
	
	margin-top: -15px;
	
	margin-bottom: 20px;
	
	}
	
.top .topword3{
	
	margin-top: -20px;
	
	}	

.list .listword{
	
	font-size: 10px;
	
	}

.list .listword1{
	
	margin-left: 50px;
	
	margin-top: 20px;
	
	margin-bottom: 10px;
	
	}
	
.list .listword2{
	
	margin-left: 100px;
	
	font-size: 14px;
	
	line-height: 20px;
	
	}
	
.list .listword3{
	
	float: right;
	
	margin-right: 200px;
	
	font-size: 10px;
	
	}
	
.save{
	
	text-align: center;
	
	margin-top: 140px;
	
	font-size: 12px;
	
	}
	
.save .saveword{
	
	margin-top:-27px;
	
	}