@charset "utf-8";
/* CSS Document */
.backimg
{
	background:url(../image/background.jpg) no-repeat fixed top;
	height:100%;
	width:100%;
}

.bggreen
{
background-color:#0f0}

.bgred{
background-color:#f00
}

